/**
 * Base Styles
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'Unibet Pro';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Unibet_Pro_2020.ttf)
}

h1 {
    font-size: 3rem;
}

h1, button {
    font-family: 'Unibet Pro';
}

p {
    font-family: 'Roboto', sans-serif;    
}

button {
    align-items: center;
    background-color: $brand-yellow;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 500;
    height: 3.2rem;
    border: none;
    padding: 0 1.5rem;
    transition: 0.3s ease all;

    a {
        color: #111;
        text-decoration: none;

        &:hover {
            color: inherit;
        }
    }

    &:hover {
        opacity: 0.5;
    }
}

.alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
    width: 100vw;
}

footer#footer {
    background: #111;
    color: #fff;
    padding: 1rem 0;

    p {
        margin: 0;
    }
}