/**
 * Navbar
 */

header {
    .top-container,
    .header-container,
    nav.navbar {
        background-color: $brand-green !important;
    }

    .top-container {
        font-size: 0.75rem;

        .navbar-nav {
            @media (max-width: breakpoint-max(md)) {
                flex-wrap: wrap;
                line-height: 0.4;
                width: 50%;
                justify-content: flex-end;
                padding: 0.6rem 0;
            }

            li.menu-item a {
                color: #fff;
            }
        }

        span {
            color: #70e1a0;
       }
    }

    .header-container {
        padding: 1rem 0;

        ul#menu-logo-credentials-menu {
            flex-direction: row;

            @media (max-width: breakpoint-max(md)) {
                flex-direction: column;
                gap: 0.75rem;
            }

            a.nav-link[title="Login"] {
                background: rgb(41, 155, 89);
                width: 6rem;
                text-align: center;
                border-radius: 4px;
                font-weight: 600;
                padding: 4px 0;
                color: #fff;
            }

            a.nav-link[title="Register"] {
                background: $brand-yellow;
                width: 6rem;
                text-align: center;
                border-radius: 4px;
                font-weight: 600;
                padding: 4px 0;
                color: #111;
            }
        }

        img {
            height: 3.5rem;
        }
    }

    nav.navbar {
        border-top: 1px solid #0e5f31;
        border-bottom: 1px solid #e9e9e9;

        @media (max-width: breakpoint-max(lg)) {
            font-size: 0.65rem; 
        }

        .navbar-toggler {
            border: none;

            &:focus {
                box-shadow: none;
            }

            .navbar-toggler-icon {
                filter: invert(1);
            }
        }

        .menu-item.nav-item {
            @media (max-width: breakpoint-max(md)) {
                justify-content: flex-end;
            }

            .nav-link {
                position: relative;
                color: #fff;

                @media (max-width: breakpoint-max(md)) {
                    padding-left: 10px;
                    font-size: 1rem;
                }

                &::before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: -20px;
                    background-repeat: no-repeat;
                    filter: invert(1);
                    top: 50%;
                    transform: translate(0%, -50%);
                }
            }
        }

        .sports-menu .nav-link::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34 32' id='icon-sportsbook'%3E%3Cpath d='M25.593 31.786a6.715 6.715 0 0 1-3.838-2.667 6.604 6.604 0 0 1-1.148-4.592l.027.008a6.7 6.7 0 0 0 1.97.299 6.4 6.4 0 0 0 3.643-1.13c1.642-1.13 2.64-2.896 2.755-4.85a6.716 6.716 0 0 1 3.8 2.658 6.605 6.605 0 0 1 1.156 4.54c-1.933-.592-3.976-.289-5.605.832-1.656 1.14-2.66 2.927-2.76 4.902zM20.975 23a6.69 6.69 0 0 1 2.48-3.179 6.694 6.694 0 0 1 3.963-1.188 4.798 4.798 0 0 1-2.08 3.813 4.841 4.841 0 0 1-4.323.568l-.04-.014zM33.6 27.58a6.688 6.688 0 0 1-2.497 3.23c-1.2.829-2.57 1.21-3.92 1.19v-.002c.042-1.534.8-2.94 2.081-3.857a4.852 4.852 0 0 1 4.321-.566l.015.005zM14.66 0C6.543 0 0 6.55 0 14.58c0 8.073 6.586 14.581 14.66 14.581 1.753 0 3.426-.308 4.96-.868a8.044 8.044 0 0 1-.442-4.441 8.146 8.146 0 0 1 3.417-5.263c1.961-1.354 4.313-1.728 6.48-1.245.173-.883.286-1.815.286-2.721C29.361 6.551 22.775 0 14.659 0zM2.633 14.2l-1.402-.422A13.219 13.219 0 0 1 5.78 4.564l1.274 2.747-4.419 6.89zm9.22 13.524a15.075 15.075 0 0 1-1.316-.338L5.184 24.09l-.085-.085 1.105-4.31 7.393.591 3.4 6.128-5.142 1.31zm12.748-12.34l-6.926.253-3.697-7.565 5.142-4.522 6.5 4.438-1.019 7.396z'%3E%3C/path%3E%3C/svg%3E");
        }

        .casino-menu .nav-link::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34 32' id='icon-casino'%3E%3Cpath d='M33.988 17.925l-.022-.013c-.103 4.656-3.904 8.4-8.586 8.4-4.748 0-8.596-3.846-8.596-8.591a8.581 8.581 0 0 1 3.799-7.13l-.009-.004c.285-.193.581-.37.889-.529-1.19-1.443-3.018-4.583-5.143-6.026.898 1.679 1.557 4.385 1.01 7.47a10.11 10.11 0 0 0-2.14 6.22c0 3.811 2.107 7.136 5.214 8.884-1.149 3.13-4.16 5.394-7.697 5.394-4.547 0-8.244-3.692-8.244-8.233 0-4.542 3.697-8.234 8.244-8.234.17 0 .298.043.468.043 2.677-4.244 2.422-8.404 1.402-10.44C16.575 13.665 0 14.895 0 14.895c2.975-1.018 4.335-6.535 4.335-6.535.978-3.31 2.89-4.584 2.89-4.584 2.507-1.91 4.803-1.188 6.035-.51-.425-.466-.85-.763-1.147-.975l-.935-.382.51-1.91 1.02.17c4.845.806 9.052 6.663 10.922 9.124.553-.127 1.148-.17 1.743-.17 4.76 0 8.627 3.863 8.627 8.574 0 .076-.01.15-.012.227zM8.062 28.948l1.153-1.15-.155-.153a5.31 5.31 0 0 1-1.593-3.773 5.516 5.516 0 0 1 1.596-3.945l.149-.15-1.15-1.15-.15.15c-1.336 1.334-2.07 3.113-2.07 5.01s.734 3.678 2.07 5.011l.15.15zm12.495-5.899l1.194-1.192-.152-.151a5.743 5.743 0 0 1-1.69-4.094c0-1.55.6-3.003 1.69-4.092l.152-.15-1.194-1.194-.15.15c-1.417 1.416-2.198 3.293-2.198 5.287s.78 3.87 2.198 5.286l.15.15z'%3E%3C/path%3E%3C/svg%3E");
        }

        .live-casino-menu .nav-link::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' id='icon-live-casino-wheel'%3E%3Cpath d='M16 0C7.16 0 0 7.16 0 16s7.16 16 16 16 16-7.16 16-16S24.84 0 16 0zm14.64 15.36H27.6c0-.32-.04-.64-.08-.96l2.96-.6c.08.52.12 1.04.16 1.56zm-.44-2.88l-2.96.6c-.08-.32-.16-.6-.28-.92l2.8-1.16c.2.48.36 1 .44 1.48zm-.96-2.72l-2.8 1.16c-.12-.28-.28-.56-.44-.84l2.52-1.68c.24.44.48.88.72 1.36zm-1.44-2.4l-2.52 1.68c-.2-.28-.4-.52-.6-.76l2.12-2.12c.36.4.68.8 1 1.2zm-1.88-2.2l-2.16 2.16c-.24-.2-.52-.4-.76-.6l1.72-2.56c.4.32.8.64 1.2 1zm-3.68-2.4c.44.2.92.44 1.36.72l-1.72 2.48c-.28-.16-.56-.28-.84-.44l1.2-2.76zm-2.72-.96c.48.12 1 .28 1.48.44l-1.16 2.8c-.28-.12-.6-.2-.92-.28l.6-2.96zm-2.88-.44c.52.04 1.04.08 1.56.16l-.6 2.96c-.32-.04-.64-.08-.96-.08V1.36zm-1.28 0V4.4c-.32 0-.64.04-.96.08l-.6-2.96c.52-.08 1.04-.12 1.56-.16zm-2.88.44l.6 2.96c-.32.08-.6.16-.92.28L11 2.24c.48-.16.96-.32 1.48-.44zm-2.68.96l1.16 2.8c-.28.12-.56.28-.84.44L8.4 3.48c.44-.28.92-.52 1.4-.72zM7.36 4.2l1.68 2.52c-.28.2-.52.4-.76.6L6.16 5.2c.4-.36.8-.68 1.2-1zM5.2 6.12l2.12 2.12c-.2.24-.4.52-.6.76L4.2 7.32c.32-.4.64-.8 1-1.2zM3.48 8.4l2.48 1.72c-.16.28-.28.56-.44.84l-2.76-1.2c.2-.44.44-.92.72-1.36zM2.24 11l2.8 1.16c-.12.28-.2.6-.28.92l-2.96-.6c.12-.48.28-1 .44-1.48zm-.72 2.8l2.96.6c-.04.32-.08.64-.08.96H1.36c.04-.52.08-1.04.16-1.56zm-.16 2.84H4.4c0 .32.04.64.08.96l-2.96.6c-.08-.52-.12-1.04-.16-1.56zm.44 2.88l2.96-.6c.08.32.16.6.28.92L2.24 21c-.16-.48-.32-.96-.44-1.48zm.96 2.68l2.8-1.16c.12.28.28.56.44.84L3.48 23.6c-.28-.44-.52-.92-.72-1.4zm1.44 2.44l2.52-1.68c.2.28.4.52.6.76L5.2 25.84c-.36-.4-.68-.8-1-1.2zm1.92 2.16l2.12-2.12c.24.2.52.4.76.6L7.32 27.8c-.4-.32-.8-.64-1.2-1zm3.64 2.44c-.44-.2-.92-.44-1.36-.72l1.72-2.48c.28.16.56.28.84.44l-1.2 2.76zm2.72.96c-.48-.12-1-.28-1.48-.44l1.16-2.8c.32.12.6.2.92.28l-.6 2.96zm2.88.44c-.52-.04-1.04-.08-1.56-.16l.6-2.96c.32.04.64.08.96.08v3.04zm1.28 0V27.6c.32 0 .64-.04.96-.08l.6 2.96c-.52.08-1.04.12-1.56.16zm1.416-6.888c-.13.038-.263.057-.395.057-.255 0-.51-.07-.742-.206-.341-.2-.6-.53-.711-.907a1.454 1.454 0 0 1 .407-1.485l-.811-3.137c-.592-.046-1.135-.346-1.525-.846l-3.107.814c-.133.559-.548.988-1.087 1.113-.757.22-1.602-.26-1.837-1.058a1.434 1.434 0 0 1 .15-1.138c.2-.342.53-.6.906-.711a1.461 1.461 0 0 1 1.485.406l3.057-.81c.048-.642.39-1.24.923-1.613l-.81-3.02c-.559-.132-.99-.547-1.114-1.086-.104-.352-.059-.74.13-1.085.197-.362.536-.637.929-.752.381-.11.784-.058 1.137.15.341.2.6.53.711.906a1.451 1.451 0 0 1-.406 1.484l.81 3.019c.635.05 1.23.413 1.58.96L20.788 14c.132-.558.546-.987 1.083-1.112a1.481 1.481 0 0 1 1.165.153c.342.203.59.536.679.914.104.352.059.741-.129 1.086a1.572 1.572 0 0 1-.93.752 1.454 1.454 0 0 1-1.485-.407l-3.097.811a2.009 2.009 0 0 1-.884 1.495l.812 3.137c.559.134.988.548 1.113 1.087.104.352.059.74-.13 1.085a1.572 1.572 0 0 1-.929.752zM19.52 30.2l-.6-2.96c.32-.08.6-.16.92-.28l1.16 2.8c-.48.16-.96.32-1.48.44zm2.72-.96l-1.16-2.8c.28-.12.56-.28.84-.44l1.68 2.52c-.44.24-.88.48-1.36.72zm2.4-1.44l-1.68-2.52c.28-.2.52-.4.76-.6l2.12 2.12c-.36.36-.8.68-1.2 1zm2.2-1.88l-2.16-2.16c.2-.24.4-.52.6-.76l2.56 1.72c-.32.4-.64.8-1 1.2zm1.72-2.36l-2.52-1.68c.16-.28.28-.56.44-.84l2.8 1.16c-.2.44-.44.92-.72 1.36zm1.2-2.56l-2.8-1.16c.12-.28.2-.6.28-.92l2.96.6c-.12.48-.28 1-.44 1.48zm.72-2.8l-2.96-.6c.04-.32.08-.64.08-.96h3.04c-.04.52-.08 1.04-.16 1.56z'%3E%3C/path%3E%3C/svg%3E");
        }

        .games-menu .nav-link::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 32' id='icon-games'%3E%3Cpath d='M34.544 2.49L25.642.067a1.887 1.887 0 0 0-2.337 1.371L21.99 6.441c.5.603.89 1.309 1.102 2.105l1.278 4.798 6.847 1.854a1.887 1.887 0 0 0 2.338-1.371l2.382-9.006c.27-1.006-.36-2.057-1.393-2.331zm-4.766 5.44a1.537 1.537 0 0 1-1.843 1.097 1.53 1.53 0 0 1-1.079-1.875A1.537 1.537 0 0 1 28.7 6.055c.81.229 1.26 1.052 1.08 1.875zM24.878 24L20.922 9.141c-.45-1.691-2.203-2.743-3.866-2.285l-14.7 3.977C.647 11.29-.342 13.028.108 14.765l3.956 14.857c.45 1.692 2.203 2.697 3.866 2.286l14.7-3.977c1.709-.457 2.698-2.194 2.248-3.932zm-15.6 4.114c-1.168.32-2.337-.366-2.652-1.555-.314-1.188.36-2.377 1.529-2.697 1.169-.32 2.383.366 2.652 1.555.315 1.188-.36 2.377-1.528 2.697zm3.777-6.629c-1.169.32-2.338-.366-2.652-1.554-.315-1.189.36-2.377 1.528-2.697 1.169-.32 2.383.411 2.652 1.554.315 1.189-.36 2.377-1.528 2.697zm3.821-6.583c-1.169.32-2.337-.365-2.652-1.554-.315-1.189.36-2.377 1.528-2.697 1.17-.32 2.338.366 2.653 1.554.314 1.143-.405 2.377-1.529 2.697z'%3E%3C/path%3E%3C/svg%3E");
        }

        .bingo-menu .nav-link::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' id='icon-bingo'%3E%3Cpath d='M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm0 29C8.8 29 2.9 23.1 2.9 15.9 2.9 8.7 8.8 2.8 16 2.8s13.1 5.9 13.1 13.1C29.1 23.1 23.2 29 16 29zm-2.7-15.3c.1.3.1.6.1.9v.8c-.1.2-.3.4-.5.6-.2.2-.5.2-.8.2-.2 0-.4 0-.6-.1-.2-.1-.3-.2-.4-.4l-.3-.6c-.1-.2-.1-.5-.1-.7 0-.2 0-.5.1-.7.1-.2.1-.4.3-.6.1-.2.3-.3.4-.4.2-.1.4-.2.6-.2.2 0 .4 0 .5.1.2.1.3.2.4.4.1.2.2.4.3.7zm7.9.1c.1.3.1.7.1 1.1v2.2c0 .4 0 .8-.1 1.1-.1.3-.1.5-.3.7-.1.2-.3.3-.4.4-.2.1-.4.1-.6.1s-.4 0-.6-.1c-.2-.1-.3-.2-.4-.4-.1-.2-.2-.4-.3-.7-.1-.3-.1-.7-.1-1.1v-2.2c0-.4 0-.8.1-1.1.1-.3.1-.5.3-.7.1-.2.3-.3.4-.4.2-.1.4-.1.6-.1.2 0 .4 0 .6.1.2.1.3.2.4.4.2.1.3.4.3.7zM16 5.3C10.2 5.3 5.4 10 5.4 15.9S10.2 26.5 16 26.5s10.6-4.7 10.6-10.6S21.8 5.3 16 5.3zm-.7 10.3c0 .8-.1 1.5-.3 2.2-.2.7-.5 1.2-.9 1.7s-.9.8-1.5 1.1c-.6.3-1.3.4-2.2.4h-.2v-1.6h.1c.5 0 .9-.1 1.3-.2s.7-.3.9-.5c.2-.2.4-.4.6-.7.1-.3.2-.6.3-1-.2.2-.5.4-.8.5-.3.1-.6.2-1 .2-.5 0-.9-.1-1.2-.3-.4-.1-.7-.4-.9-.7-.2-.3-.4-.6-.5-1s-.2-.8-.2-1.3.1-.9.2-1.3c.2-.4.4-.8.7-1.1.3-.3.6-.6 1-.7.4-.2.9-.3 1.4-.3.5 0 1 .1 1.4.3.4.2.8.5 1 .8.3.3.5.8.7 1.3s.2 1 .2 1.6l-.1.6zm7.9 1.2c0 .7-.1 1.4-.2 1.9-.2.5-.4 1-.7 1.3-.3.3-.6.6-1 .7-.4.2-.9.3-1.3.3s-.9-.1-1.3-.2c-.4-.2-.8-.4-1-.7-.3-.3-.5-.8-.7-1.3-.2-.5-.2-1.2-.2-1.9v-1.7c0-.7.1-1.4.2-1.9.2-.5.4-1 .7-1.3.3-.3.6-.6 1-.7.3-.3.8-.3 1.2-.3.5 0 .9.1 1.3.2.4.2.7.4 1 .7.3.3.5.8.7 1.3.2.5.2 1.2.2 1.9.1 0 .1 1.7.1 1.7z'%3E%3C/path%3E%3C/svg%3E");
        }

        .poker-menu .nav-link::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34 32' id='icon-poker'%3E%3Cpath d='M14.14 30.854l-7.3 1.08c-1.531.21-2.976-.804-3.231-2.325L.038 6.87c-.255-1.48.807-2.916 2.38-3.127l8.69-1.298-6.396 21.182a4.338 4.338 0 0 0 .372 3.319 4.351 4.351 0 0 0 2.64 2.09l6.416 1.817zM33.875 7.928L27.201 30.03c-.425 1.437-1.998 2.283-3.528 1.86L8.157 27.496a2.756 2.756 0 0 1-1.913-3.424L12.918 1.97c.425-1.437 1.998-2.283 3.528-1.86l15.516 4.395c1.488.423 2.38 1.944 1.913 3.424zm-8.8 9.551c-.042-.55-.212-1.268-.552-2.155-.467-1.1-.935-2.156-1.403-3.254-.68-1.691-1.02-2.705-.977-3.001-.128.253-.978.93-2.508 1.986-.978.676-1.998 1.353-2.976 2.029-.765.55-1.318 1.056-1.658 1.521-.425.507-.723 1.184-.978 1.987-.212.676-.17 1.31.085 1.944.298.676.766 1.099 1.446 1.31.68.211 1.318.085 1.913-.338.552-.38.935-.93 1.147-1.606l.383.084c-.51 1.733-1.318 3.086-2.466 4.058l3.189.887a8.178 8.178 0 0 1-.213-2.367c.043-.803.17-1.563.383-2.324l.382.084c-.212.677-.17 1.31.085 1.945.298.676.765 1.098 1.446 1.31.68.169 1.317.042 1.955-.38.553-.381.935-.93 1.148-1.607.255-.845.34-1.563.17-2.113z'%3E%3C/path%3E%3C/svg%3E");
        }  

        .apps-menu .nav-link::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 32' id='icon-mobile'%3E%3Cpath d='M16 0H2C.9 0 0 .9 0 2v28c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zM5.5 2h7c.275 0 .5.225.5.5s-.225.5-.5.5h-7a.501.501 0 0 1-.5-.5c0-.275.225-.5.5-.5zm3.504 28A1.004 1.004 0 0 1 8 29a1 1 0 1 1 1.004 1zM16 26H2V5h14v21z'%3E%3C/path%3E%3C/svg%3E");
        }  

        .promotions-menu .nav-link::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' id='icon-promotions'%3E%3Cpath d='M11.44 0v3.111H8L11.44 7H15V3.889L11.44 0zM17 3.889V7h3.56L24 3.111h-3.44V0L17 3.889zM14 16H2c-1.1 0-2-.9-2-2v-3c0-1.1.9-2 2-2h12v7zm18-5v3c0 1.1-.9 2-2 2H18V9h12c1.1 0 2 .9 2 2zm-3 7v12c0 1.1-.936 2-2.08 2H18V18h11zm-15 0v14H5.08C3.936 32 3 31.1 3 30V18h11z'%3E%3C/path%3E%3C/svg%3E");
        }
    }

     .navbar-nav li {
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease all;

        &:hover {
            opacity: 0.5;
        }
    }
}
